li {
  list-style: none;
}

p {
  margin: 0; /* Reset default margin on <p> */
}

.main {
  background-color: #f8f8fc;
  overflow: auto;
}

.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 64px);
  gap: 10px;
}

/* Width of the entire scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (the area where the thumb does not cover) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Change this to the color you want */
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Change this to the color you want */
  border-radius: 6px; /* Optional: for rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change this to the color you want on hover */
}

/* MODAL */
.myModal {
	position: fixed;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(81 91 116 / 70%);
	z-index: 9999;
  display: flex;
	justify-content: center;
}

.modal-content {
	background-color: white;
	border-radius: 12px;
	box-shadow: 0 0 10px rgb(173 148 148 / 70%);
	width: 100%;
	max-width: 500px;
	position: relative;
	margin: 1rem;
  padding: 20px;
}

.modal-close{
  width: 70px;
  background-color: red;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  float: right;
  cursor: pointer;
  margin: 0 0 0 auto;
}

.left {
  width: 26%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 100%; /* Adjust as needed */
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.side_bar-options{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new_chat {
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
}

.chat_history-title {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  width: 100%;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide any content that overflows the box */
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
  padding-left: 12px;
}

.chat_history-title:hover {
  background-color: #e0e0e3;
  border-radius: 8px;
}

.history_section{
  margin-top: 12px;
}

.right {
  width: 74%;
  min-height: 100%; /* Adjust as needed */
  overflow-y: scroll;
  padding: 1.5rem 1.5rem 100px 1.5rem;
}

.chat_content {
  border-radius: 12px;
  padding: 8px;
  width: 90%;
}

.chat_option {
  width: 36px;
  height: 36px;
  display: flex;
  gap: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 8px;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_row {
  margin-right: 30px;
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;

  .chat_content {
    background-color: #e0e0e3;
  }

  .avatar {
    width: 5%;
  }
}

.bot_row {
  margin-right: 30px;
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;

  .chat_content {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .chat_content.grey{
    background-color: #e0e0e3;
  }

  .avatar {
    width: 5%;
  }
}

.chat_send {
  display: flex;
  width: 68%;
  padding: 8px 20px;
  background-color: white;
  border-radius: 12px;
  position: fixed;
  bottom: 20px;
  align-items: center;
  gap: 20px;
  min-height: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  // textarea{
  //     border: none;
  //     width: 90%;
  //     outline: none;
  //     resize: none;
  //     max-height: 200px;
  //     height: 30px;
  //     overflow-y: hidden;
  //     transition: height 0.2s;
  // }

  .divtext {
    border: none;
    padding: 5px;
    width: 90%;
    min-height: 20px;
    max-height: 200px;
    overflow: auto;
  }
}

.chat_send.blocking{
  background-color: #D9D9D9;
}

.divtext:focus {
  outline: none;
}

.send_btn {
  border: none;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

.hamburger {
  display: none;
}

/* LOADING */
.loading{
  margin: 0 auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 4px solid #2F607C;
  background-color: none;
  border-top: 4px solid transparent;

  animation: spin 2s linear infinite;
}

.loading.blocking{
  width: 30px;
  height: 30px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.welcome_logo{
  width: 300px;
  margin: 0 auto;

}

.welcome_logo img{
  width: 100%;
  height: 100px;
}

/*TYPEWRITER*/
.typewriter {
  // I only want the width just about the length of the text
  width: 100%;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;

}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media screen and (max-width: 1024px) {
  .container{
    padding: 0 6px;
    max-width: none;
  }
}


@media screen and (max-width: 768px) {
  .container{
    position: relative;
    height: calc(100vh - 48px);
  }

  .left{
    position: absolute;
    top: 0;
    left: 0;
    width: 56%;
  }

  .left.show{
    display: block;
    transition: all 0.2s ease;
  }

  .left.hide{
    display: none;
  }

  .main{
    padding: 0;
    box-sizing: unset;
    margin: 0;
  }

  .right{
    width: 100%;
    padding: 0;
    overflow: unset;
  }

  .chat_content{
    width: 76%;
  }

  .chat_option{
    flex-direction: column;
    align-items: center;
  }

  .chat_send{
    width: 80%;
    left: 10%;
  }

  .hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: absolute;
    top: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .hamburger.open{
    left: 60%;
    transition: all 0.2s ease;
  }
}

/* UPLOAD FILES */

.drag-file-area {
	border: 2px dashed #2F607C;
	border-radius: 40px;
	margin: 10px 0 15px;
	padding: 30px 50px;
	text-align: center;
}
.drag-file-area .upload-icon {
	font-size: 50px;
}
.drag-file-area h3 {
	font-size: 26px;
	margin: 15px 0;
}
.drag-file-area label {
	font-size: 19px;
}
.drag-file-area label .browse-files-text {
	color: #2F607C;
	font-weight: bolder;
	cursor: pointer;
}
.browse-files span {
	position: relative;
	top: -25px;
}
.default-file-input {
	opacity: 0;
}
.cannot-upload-message {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
	padding-right: 10px;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
	color: #f7fff7;
	background-color: #2F607C;
  	transition: all 1s;
	width: 390px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
.file-info {
	display: flex;
	align-items: center;
	font-size: 15px;
}
.file-icon {
	margin-right: 10px;
}
.file-name, .file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
}
.progress-bar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;
	border-radius: 25px;
	background-color: #4BB543;
}
.upload-button {
	font-family: 'Montserrat';
	background-color: #2F607C;
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 18px;
	border: none;
	border-radius: 20px;
	margin: 0 auto;
	padding: 7.5px 50px;
	cursor: pointer;
}